<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.fpt.mola.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MolaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.LoginActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.CourseListActivity"
            android:label="@string/title_course_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.MainActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.CourseDetailActivity"
            android:label="@string/title_course_detail"
            android:parentActivityName=".controller.teacher.CourseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.controller.teacher.CourseListActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.CourseCreationActivity"
            android:label="@string/title_activity_course_creation"
            android:parentActivityName=".controller.teacher.CourseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.controller.teacher.CourseListActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.ChapterCreationActivity"
            android:label="@string/title_activity_chapter_creation"
            android:parentActivityName=".controller.teacher.CourseDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.controller.teacher.CourseDetailActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.TimeFrameActivity"
            android:label="@string/title_activity_time_frame"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.MainActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.TimeFrameCreationActivity"
            android:label="@string/title_activity_time_frame_creation"
            android:parentActivityName=".controller.teacher.TimeFrameActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.controller.teacher.TimeFrameActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.TimeFrameListActivity"
            android:label="@string/title_timeframe_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.MainActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.TimeFrameDetailActivity"
            android:label="@string/title_timeframe_detail"
            android:parentActivityName=".controller.teacher.TimeFrameListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.controller.teacher.TimeFrameListActivity" />
        </activity>
        <activity
            android:name=".controller.teacher.TimeSlotCreationActivity"
            android:label="@string/title_activity_time_slot_creation"
            android:parentActivityName=".controller.teacher.TimeFrameDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vn.edu.fpt.mola.app.controller.teacher.TimeFrameDetailActivity" />
        </activity>
    </application>

</manifest>